.mask-moveToBottom{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%)
	}
	.mask-moveToBottom.show{
	-webkit-transform:translateY(0%);
	-ms-transform:translateY(0%);
	transform:translateY(0%)
	}

.sidebar-move{
	height:100%;
	overflow:hidden;
	body{
		height:100%;
		overflow:hidden;
	}
}

.mask-animation {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 21;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}