@charset "UTF-8";
/* index.css
 * Created: 2015-11-19
 * Update: 2015-11-19
 * Author: Amanda
 */
/* line 33, ../_source/libs/_mixin-css3.scss */
.banner .swiper-slide, .car-list .img-box, .own-list a, .own-list .icon-box, .mod-member .swiper-button-prev, .mod-member .swiper-button-next, .recommend-list .img-box, .mod-login ul, .mod-footer ul, .mod-footer .i-box {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
}

/* line 65, ../_source/libs/_mixin-css3.scss */
.banner .swiper-slide, .mod-member .swiper-button-prev, .mod-member .swiper-button-next, .mod-footer .i-box {
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 70, ../_source/libs/_mixin-css3.scss */
.banner .swiper-slide, .car-list .img-box, .own-list .icon-box, .mod-member .swiper-button-prev, .mod-member .swiper-button-next, .recommend-list .img-box, .mod-footer .i-box {
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 2, ../_source/libs/_reset.scss */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 7, ../_source/libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 10, ../_source/libs/_reset.scss */
*:not(input, textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}

/* line 14, ../_source/libs/_reset.scss */
body {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #229cdd;
  -webkit-touch-callout: inherit;
  /*value:none input is not insert*/
  -webkit-user-select: auto;
  /*value:none input is not insert*/
  background-color: #000;
}

/* line 22, ../_source/libs/_reset.scss */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 26, ../_source/libs/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 29, ../_source/libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 35, ../_source/libs/_reset.scss */
textarea, input {
  resize: none;
  outline: none;
}

/* line 39, ../_source/libs/_reset.scss */
textarea {
  resize: none;
  -webkit-appearance: none;
}

/* line 43, ../_source/libs/_reset.scss */
ul, ol, li {
  list-style: none;
}

/* line 46, ../_source/libs/_reset.scss */
em {
  font-style: normal;
}

/* line 50, ../_source/libs/_reset.scss */
.clearfix {
  zoom: 1;
}
/* line 52, ../_source/libs/_reset.scss */
.clearfix:before {
  content: "";
  display: table;
}
/* line 56, ../_source/libs/_reset.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../_source/libs/_reset.scss */
a, img {
  -webkit-touch-callout: none;
  /*禁止长按链接与图片弹出菜单*/
}

/* line 66, ../_source/libs/_reset.scss */
html, body {
  -webkit-user-select: none;
  /*禁止选中文本(如无文本选中需求，此为必选项)*/
  user-select: none;
}

/* extend */
/* line 5, ../_source/components/_extend.scss */
.header .icon-arrow-dn, .header .member .icon-member, .nav .look-car i, .nav .buy-car i, .nav .own-car i, .nav .sale-car i, .nav .member i, .own-book, .own-handbook, .own-ticket, .own-place, .sale-book, .sale-check, .sale-price, .sale-deal, .mod-member .swiper-button-prev i, .mod-member .swiper-button-next i, .ver-client, .ver-touch, .ver-computer, .pop-download .btn-close i {
  background-image: url('/images/_skin-sb64d041799.png');
  background-repeat: no-repeat;
  background-size: 0.86rem 13.55rem;
}

/* line 1, ../_source/components/_common.scss */
.mod-look .hd, .mod-buy .hd, .mod-own .hd, .mod-sale .hd, .mod-member .hd, .city-box .bd ul, .nav ul, .brand-list, .car-list a, .own-list, .sale-intro .progress, .btn-sale-area, .recommend-list a {
  zoom: 1;
}
/* line 3, ../_source/components/_common.scss */
.mod-look .hd:after, .mod-buy .hd:after, .mod-own .hd:after, .mod-sale .hd:after, .mod-member .hd:after, .city-box .bd ul:after, .nav ul:after, .brand-list:after, .car-list a:after, .own-list:after, .sale-intro .progress:after, .btn-sale-area:after, .recommend-list a:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
}

/* line 14, ../_source/components/_common.scss */
.header, .city-box .bd, .nav ul, .brand-list, .own-list li, .btn-sale-area .btn-strategy, .pop-download {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../_source/components/_common.scss */
body {
  background-color: #f6f6f6;
  font-family: Helvetica, "Heiti SC", "Microsoft Yahei";
  color: #8a8a8a;
  font-size: 0.24rem;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  word-break: break-all;
}

/* line 49, ../_source/components/_common.scss */
.mod-look, .mod-buy, .mod-own, .mod-sale, .mod-member {
  margin-bottom: 0.3rem;
  background-color: #fff;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
/* line 58, ../_source/components/_common.scss */
.mod-look .hd, .mod-buy .hd, .mod-own .hd, .mod-sale .hd, .mod-member .hd {
  padding-right: 0.3rem;
  line-height: 0.59rem;
  border-bottom: 1px solid #e6e6e6;
}
/* line 68, ../_source/components/_common.scss */
.mod-look .hd i, .mod-buy .hd i, .mod-own .hd i, .mod-sale .hd i, .mod-member .hd i {
  float: left;
  margin-right: 0.18rem;
  width: 0.1rem;
  height: 0.59rem;
}
/* line 80, ../_source/components/_common.scss */
.mod-look .hd .tit, .mod-buy .hd .tit, .mod-own .hd .tit, .mod-sale .hd .tit, .mod-member .hd .tit {
  float: left;
  margin-right: 0.2rem;
  color: #8a8a8a;
  font-size: 0.28rem;
}
/* line 91, ../_source/components/_common.scss */
.mod-look .hd .sub-tit, .mod-buy .hd .sub-tit, .mod-own .hd .sub-tit, .mod-sale .hd .sub-tit, .mod-member .hd .sub-tit {
  float: left;
  color: #dddee0;
  font-size: 0.24rem;
}
/* line 100, ../_source/components/_common.scss */
.mod-look .hd .a-more, .mod-buy .hd .a-more, .mod-own .hd .a-more, .mod-sale .hd .a-more, .mod-member .hd .a-more {
  float: right;
}

/* line 1, ../_source/app/_header.scss */
.header {
  overflow: hidden;
  display: block;
  padding: 0 0.23rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0094f8), to(rgba(0, 182, 243, 0.55)));
  background-image: -webkit-linear-gradient(top, #0094f8, rgba(0, 182, 243, 0.55));
  background-image: -moz-linear-gradient(top, #0094f8, rgba(0, 182, 243, 0.55));
  background-image: -o-linear-gradient(top, #0094f8, rgba(0, 182, 243, 0.55));
  background-image: linear-gradient(top, #0094f8, rgba(0, 182, 243, 0.55));
}
/* line 13, ../_source/app/_header.scss */
.header .logo {
  float: left;
  padding: 0.23rem 0;
  margin-right: 0.25rem;
  width: 1.46rem;
  height: 0.54rem;
  line-height: 0.54rem;
}
/* line 26, ../_source/app/_header.scss */
.header .logo img {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 32, ../_source/app/_header.scss */
.header .city {
  float: left;
  padding: 0.23rem 0;
  height: 0.54rem;
  font-size: 0.28rem;
  color: #fff;
  white-space: nowrap;
  line-height: 0.54rem;
}
/* line 48, ../_source/app/_header.scss */
.header .city em {
  margin-right: 0.1rem;
}
/* line 52, ../_source/app/_header.scss */
.header .icon-arrow-dn {
  display: inline-block;
  width: 0.28rem;
  height: 0.15rem;
  background-position: 0 0;
}
/* line 64, ../_source/app/_header.scss */
.header .member {
  float: right;
  padding: 0.3rem 0.07rem;
  height: 0.4rem;
}
/* line 73, ../_source/app/_header.scss */
.header .member .icon-member {
  float: right;
  width: 0.44rem;
  height: 0.42rem;
  background-position: 0 -1.51rem;
}

/* line 1, ../_source/app/_header-city.scss */
.header-city {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  background-color: #fff;
}
/* line 9, ../_source/app/_header-city.scss */
.header-city .city-nav {
  position: relative;
  height: 0.96rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0094f8), to(#00b6f3));
  background-image: -webkit-linear-gradient(top, #0094f8, #00b6f3);
  background-image: -moz-linear-gradient(top, #0094f8, #00b6f3);
  background-image: -o-linear-gradient(top, #0094f8, #00b6f3);
  background-image: linear-gradient(top, #0094f8, #00b6f3);
  text-align: center;
  color: #fff;
  font-size: 0.3rem;
  line-height: 0.96rem;
}
/* line 25, ../_source/app/_header-city.scss */
.header-city .city-nav .btn-back {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 0.23rem;
}
/* line 30, ../_source/app/_header-city.scss */
.header-city .city-nav .btn-back .arrow-left {
  display: inline-block;
  width: 0.18rem;
  height: 0.18rem;
  border-right-width: 0.04rem;
  border-bottom-width: 0.04rem;
  border-radius: 0.02rem;
  content: "";
  vertical-align: middle;
  font-size: 0;
  border-right: solid #fff;
  border-bottom: solid #fff;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 46, ../_source/app/_header-city.scss */
.city-box .hd {
  padding: 0 0.23rem;
  height: 0.8rem;
  background-color: #f6f6f6;
  font-size: 0.28rem;
  color: #8a8a8a;
  line-height: 0.8rem;
}
/* line 61, ../_source/app/_header-city.scss */
.city-box .bd {
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
/* line 71, ../_source/app/_header-city.scss */
.city-box .bd ul {
  width: 100%;
  overflow-y: auto;
  margin-bottom: -1px;
}
/* line 77, ../_source/app/_header-city.scss */
.city-box .bd li {
  float: left;
  width: 33%;
  height: 0.72rem;
  font-size: 0.26rem;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  color: #333;
  line-height: 0.72rem;
  text-align: center;
}
/* line 93, ../_source/app/_header-city.scss */
.city-box .bd li a {
  display: block;
  height: 0.72rem;
  color: #333;
}
/* line 98, ../_source/app/_header-city.scss */
.city-box .bd li:nth-child(3n) {
  border-right: 0 none;
}

/* line 1, ../_source/app/_animate.scss */
.mask-moveToBottom {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 6, ../_source/app/_animate.scss */
.mask-moveToBottom.show {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

/* line 12, ../_source/app/_animate.scss */
.sidebar-move {
  height: 100%;
  overflow: hidden;
}
/* line 15, ../_source/app/_animate.scss */
.sidebar-move body {
  height: 100%;
  overflow: hidden;
}

/* line 21, ../_source/app/_animate.scss */
.mask-animation {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 21;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../_source/app/_banner.scss */
.banner {
  max-height: 2.2rem;
}
/* line 6, ../_source/app/_banner.scss */
.banner img {
  width: 100%;
  height: auto;
  max-height: 2.2rem;
}
/* line 11, ../_source/app/_banner.scss */
.banner .swiper-slide {
  background: #fff;
}
/* line 17, ../_source/app/_banner.scss */
.banner.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 4px;
}
/* line 25, ../_source/app/_banner.scss */
.banner .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #000;
}
/* line 38, ../_source/app/_banner.scss */
.banner .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background: #fff;
}

/* line 1, ../_source/app/_act-box.scss */
.act-box {
  height: 2.2rem;
}
/* line 6, ../_source/app/_act-box.scss */
.act-box img {
  width: 100%;
  height: auto;
  max-height: 2.2rem;
}

/* line 13, ../_source/app/_act-box.scss */
.act-member-box {
  height: 3.52rem;
}
/* line 18, ../_source/app/_act-box.scss */
.act-member-box img {
  width: 100%;
  height: auto;
  max-height: 3.52rem;
}

/* line 1, ../_source/app/_nav.scss */
.nav .look-car .icon-nav, .nav .buy-car .icon-nav, .nav .own-car .icon-nav, .nav .sale-car .icon-nav, .nav .member .icon-nav {
  margin: 0 auto;
  padding-bottom: 0.19rem;
  width: 1.17rem;
  height: 1.08rem;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 6px 6px 4px 4px;
}
/* line 15, ../_source/app/_nav.scss */
.nav .look-car .icon-nav .tit, .nav .buy-car .icon-nav .tit, .nav .own-car .icon-nav .tit, .nav .sale-car .icon-nav .tit, .nav .member .icon-nav .tit {
  display: block;
  position: relative;
  padding: 0.12rem 0 0 0.52rem;
  height: 0.45rem;
  font-size: 0.2rem;
  text-align: left;
}
/* line 28, ../_source/app/_nav.scss */
.nav .look-car .icon-nav .tit em, .nav .buy-car .icon-nav .tit em, .nav .own-car .icon-nav .tit em, .nav .sale-car .icon-nav .tit em, .nav .member .icon-nav .tit em {
  position: absolute;
  top: 0.1rem;
  left: 0.16rem;
  font-size: 0.32rem;
}
/* line 40, ../_source/app/_nav.scss */
.nav .look-car .icon-nav i, .nav .buy-car .icon-nav i, .nav .own-car .icon-nav i, .nav .sale-car .icon-nav i, .nav .member .icon-nav i {
  display: block;
  margin: 0 0 0 0.24rem;
}

/* line 57, ../_source/app/_nav.scss */
.nav {
  margin: 0.25rem 0 0.16rem;
  padding: 0 0.16rem;
}
/* line 69, ../_source/app/_nav.scss */
.nav ul {
  width: 100%;
}
/* line 74, ../_source/app/_nav.scss */
.nav li {
  float: left;
  width: 20%;
  text-align: center;
}
/* line 79, ../_source/app/_nav.scss */
.nav a {
  display: block;
  margin: 0 auto;
}
/* line 82, ../_source/app/_nav.scss */
.nav a .icon-nav {
  color: #fff;
}
/* line 86, ../_source/app/_nav.scss */
.nav a .txt {
  color: #666;
}
/* line 90, ../_source/app/_nav.scss */
.nav .txt {
  display: block;
  height: 0.56rem;
  text-align: center;
  line-height: 0.56rem;
}
/* line 100, ../_source/app/_nav.scss */
.nav .look-car .icon-nav {
  background-color: #fd8d39;
}
/* line 104, ../_source/app/_nav.scss */
.nav .look-car i {
  width: 0.88rem;
  height: 0.53rem;
  background-position: 0 -2.52rem;
}
/* line 109, ../_source/app/_nav.scss */
.nav .buy-car .icon-nav {
  background-color: #2fabf1;
}
/* line 113, ../_source/app/_nav.scss */
.nav .buy-car i {
  width: 0.91rem;
  height: 0.53rem;
  background-position: 0 -1.96rem;
}
/* line 118, ../_source/app/_nav.scss */
.nav .own-car .icon-nav {
  background-color: #6dc114;
}
/* line 122, ../_source/app/_nav.scss */
.nav .own-car i {
  width: 0.87rem;
  height: 0.53rem;
  background-position: 0 -3.64rem;
}
/* line 127, ../_source/app/_nav.scss */
.nav .sale-car .icon-nav {
  background-color: #1fd2c7;
}
/* line 131, ../_source/app/_nav.scss */
.nav .sale-car i {
  width: 0.88rem;
  height: 0.53rem;
  background-position: 0 -4.2rem;
}
/* line 136, ../_source/app/_nav.scss */
.nav .member .icon-nav {
  background-color: #fd595a;
}
/* line 140, ../_source/app/_nav.scss */
.nav .member i {
  width: 0.86rem;
  height: 0.53rem;
  background-position: 0 -3.08rem;
}

/* line 4, ../_source/app/_mod-look.scss */
.mod-look .hd i {
  background-color: #fd8d39;
}
/* line 7, ../_source/app/_mod-look.scss */
.mod-look .hd .a-more {
  color: #fd8d39;
}

/* line 13, ../_source/app/_mod-look.scss */
.brand-list {
  width: 100%;
}
/* line 17, ../_source/app/_mod-look.scss */
.brand-list li {
  float: left;
  margin-top: 0.24rem;
  width: 20%;
}
/* line 24, ../_source/app/_mod-look.scss */
.brand-list li a {
  display: block;
  height: 1.23rem;
  color: #999;
}
/* line 33, ../_source/app/_mod-look.scss */
.brand-list li img {
  display: block;
  margin: 0 auto;
  width: 0.79rem;
  height: 0.79rem;
}
/* line 43, ../_source/app/_mod-look.scss */
.brand-list li span {
  overflow: hidden;
  display: block;
  height: 0.44rem;
  font-size: 0.2rem;
  line-height: 0.44rem;
  text-align: center;
}

/* line 4, ../_source/app/_mod-buy.scss */
.mod-buy .hd i {
  background-color: #2fabf1;
}
/* line 7, ../_source/app/_mod-buy.scss */
.mod-buy .hd .a-more {
  color: #2fabf1;
}
/* line 11, ../_source/app/_mod-buy.scss */
.mod-buy .bd {
  padding: 0 0.23rem;
}

/* line 17, ../_source/app/_mod-buy.scss */
.car-list li {
  border-top: 1px solid #e6e6e6;
}
/* line 22, ../_source/app/_mod-buy.scss */
.car-list li:first-child {
  border-top: 0 none;
}
/* line 26, ../_source/app/_mod-buy.scss */
.car-list a {
  display: block;
  padding: 0.26rem 0 0.18rem;
}
/* line 38, ../_source/app/_mod-buy.scss */
.car-list .img-box {
  float: left;
  margin-right: 0.15rem;
  width: 2.14rem;
  height: 1.72rem;
}
/* line 50, ../_source/app/_mod-buy.scss */
.car-list .img-box img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
}
/* line 57, ../_source/app/_mod-buy.scss */
.car-list .info {
  overflow: hidden;
  zoom: 1;
  margin-top: 0.1rem;
  color: #2f2f2f;
  text-align: right;
}
/* line 67, ../_source/app/_mod-buy.scss */
.car-list .info dd {
  overflow: hidden;
}
/* line 70, ../_source/app/_mod-buy.scss */
.car-list .info .tit {
  overflow: hidden;
  text-align: right;
  min-height: 0.4rem;
  max-height: 0.8rem;
  font-size: 0.28rem;
  line-height: 0.4rem;
}
/* line 85, ../_source/app/_mod-buy.scss */
.car-list .info .desc {
  margin: 0.15rem 0;
  height: 0.3rem;
  color: #999;
  line-height: 0.3rem;
}
/* line 97, ../_source/app/_mod-buy.scss */
.car-list .info .spec {
  margin: 0.15rem 0;
  height: 0.3rem;
  color: #2fabf1;
  line-height: 0.3rem;
}
/* line 108, ../_source/app/_mod-buy.scss */
.car-list .info .price {
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.2rem;
}
/* line 116, ../_source/app/_mod-buy.scss */
.car-list .info .price .type {
  display: inline-block;
  margin-right: 0.1rem;
  width: 1.18rem;
  height: 0.4rem;
  background-color: #2fabf1;
  color: #fff;
  text-align: center;
  line-height: 0.4rem;
  font-size: 0.24rem;
  border-radius: 5px;
  vertical-align: text-bottom;
}
/* line 137, ../_source/app/_mod-buy.scss */
.car-list .info .price .money {
  color: #ff6d00;
}
/* line 143, ../_source/app/_mod-buy.scss */
.car-list .info .price em {
  margin-right: 0.06rem;
  font-size: 0.48rem;
}

/* line 4, ../_source/app/_mod-own.scss */
.mod-own .hd i {
  background-color: #6dc114;
}
/* line 7, ../_source/app/_mod-own.scss */
.mod-own .hd .a-more {
  color: #6dc114;
}

/* line 13, ../_source/app/_mod-own.scss */
.own-list {
  padding: 0.01rem 0.04rem 0.03rem;
}
/* line 21, ../_source/app/_mod-own.scss */
.own-list li {
  float: left;
  width: 49.8%;
  padding: 0.03rem 0.02rem;
}
/* line 30, ../_source/app/_mod-own.scss */
.own-list li:nth-child(2n) {
  float: right;
}
/* line 34, ../_source/app/_mod-own.scss */
.own-list a {
  overflow: hidden;
  width: 100%;
  height: 1.26rem;
  background-color: #6dc114;
  color: #fff;
}
/* line 45, ../_source/app/_mod-own.scss */
.own-list a span {
  display: block;
}
/* line 49, ../_source/app/_mod-own.scss */
.own-list .icon-box {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.44rem;
  width: 0.94rem;
}
/* line 61, ../_source/app/_mod-own.scss */
.own-list .icon-box i {
  display: inline-block;
}
/* line 65, ../_source/app/_mod-own.scss */
.own-list .txt {
  padding-top: 0.22rem;
}
/* line 71, ../_source/app/_mod-own.scss */
.own-list .tit {
  overflow: hidden;
  height: 0.5rem;
  font-size: 0.36rem;
  font-weight: 700;
  line-height: 0.5rem;
}
/* line 82, ../_source/app/_mod-own.scss */
.own-list .desc {
  overflow: hidden;
  height: 0.3rem;
  font-size: 0.2rem;
  line-height: 0.3rem;
}
/* line 92, ../_source/app/_mod-own.scss */
.own-list .desc em {
  color: #EAEA12;
}

/* line 98, ../_source/app/_mod-own.scss */
.own-book {
  margin: 0.1rem 0;
  width: 0.69rem;
  height: 0.62rem;
  background-position: 0 -4.76rem;
}

/* line 105, ../_source/app/_mod-own.scss */
.own-handbook {
  width: 0.6rem;
  height: 0.78rem;
  background-position: 0 -5.41rem;
}

/* line 108, ../_source/app/_mod-own.scss */
.own-ticket {
  width: 0.79rem;
  height: 0.76rem;
  background-position: 0 -6.97rem;
}

/* line 111, ../_source/app/_mod-own.scss */
.own-place {
  margin: 0.1rem 0;
  width: 0.75rem;
  height: 0.72rem;
  background-position: 0 -6.22rem;
}

/* line 4, ../_source/app/_mod-sale.scss */
.mod-sale .hd i {
  background-color: #1fd2c7;
}
/* line 7, ../_source/app/_mod-sale.scss */
.mod-sale .hd .a-more {
  color: #1fd2c7;
}
/* line 11, ../_source/app/_mod-sale.scss */
.mod-sale .bd {
  padding: 0.2rem 0.32rem 0.2rem;
}

/* line 21, ../_source/app/_mod-sale.scss */
.sale-intro {
  margin-bottom: 0.2rem;
  padding: 0 0.2rem;
  font-size: 0.19rem;
  color: #6f6f6f;
  line-height: 0.4rem;
}
/* line 34, ../_source/app/_mod-sale.scss */
.sale-intro .tit {
  margin-bottom: 0.3rem;
  font-size: 0.48rem;
  line-height: 0.6rem;
  font-weight: 700;
}
/* line 45, ../_source/app/_mod-sale.scss */
.sale-intro .progress {
  justify-content: space-between;
  margin: 0 auto;
}
/* line 50, ../_source/app/_mod-sale.scss */
.sale-intro .progress li {
  float: left;
  width: 19%;
  text-align: center;
}
/* line 54, ../_source/app/_mod-sale.scss */
.sale-intro .progress li i {
  display: block;
  margin: 0 auto;
}
/* line 58, ../_source/app/_mod-sale.scss */
.sale-intro .progress li.split {
  width: 8%;
  height: 0.9rem;
  line-height: 0.9rem;
  white-space: nowrap;
  font-size: 0;
}
/* line 72, ../_source/app/_mod-sale.scss */
.sale-intro .progress li.split i {
  display: inline-block;
  overflow: hidden;
  margin: 0 2px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #d7d7d7;
}
/* line 93, ../_source/app/_mod-sale.scss */
.sale-intro .progress .txt {
  margin-top: 0.1rem;
}

/* line 103, ../_source/app/_mod-sale.scss */
.sale-book {
  width: 0.91rem;
  height: 0.92rem;
  background-position: 0 -7.76rem;
}

/* line 106, ../_source/app/_mod-sale.scss */
.sale-check {
  width: 0.91rem;
  height: 0.92rem;
  background-position: 0 -8.71rem;
}

/* line 109, ../_source/app/_mod-sale.scss */
.sale-price {
  width: 0.91rem;
  height: 0.92rem;
  background-position: 0 -10.61rem;
}

/* line 112, ../_source/app/_mod-sale.scss */
.sale-deal {
  width: 0.91rem;
  height: 0.92rem;
  background-position: 0 -9.66rem;
}

/* line 116, ../_source/app/_mod-sale.scss */
.btn-sale-area {
  margin-bottom: 0.2rem;
  font-size: 0.36rem;
  line-height: 0.9rem;
  text-align: center;
}
/* line 127, ../_source/app/_mod-sale.scss */
.btn-sale-area .btn-sale {
  float: left;
  width: 60%;
  height: 0.9rem;
  background-color: #1fd2c7;
  border-radius: 6px;
  color: #fff;
}
/* line 143, ../_source/app/_mod-sale.scss */
.btn-sale-area .btn-strategy {
  float: right;
  width: 38%;
  height: 0.9rem;
  border-radius: 6px;
  border: solid #1fd2c7;
  border-width: 0.03rem;
  border-width: 0.03rem;
  color: #1fd2c7;
}

/* line 163, ../_source/app/_mod-sale.scss */
.sale-place {
  height: 0.6rem;
  line-height: 0.6rem;
}
/* line 169, ../_source/app/_mod-sale.scss */
.sale-place dt {
  float: left;
  margin-right: 0.4rem;
  font-size: 0.26rem;
  color: #8a8a8a;
}
/* line 180, ../_source/app/_mod-sale.scss */
.sale-place dd {
  overflow: hidden;
  zoom: 1;
  font-size: 0.28rem;
}
/* line 187, ../_source/app/_mod-sale.scss */
.sale-place dd .a-place {
  color: #1fd2c7;
}

/* line 4, ../_source/app/_mod-member.scss */
.mod-member .hd i {
  background-color: #fd595a;
}
/* line 7, ../_source/app/_mod-member.scss */
.mod-member .hd .a-more {
  color: #fd595a;
}
/* line 11, ../_source/app/_mod-member.scss */
.mod-member .bd {
  padding: 0.22rem 0 0.4rem;
}
/* line 19, ../_source/app/_mod-member.scss */
.mod-member .swiper-container {
  padding: 0 0.6rem;
}
/* line 26, ../_source/app/_mod-member.scss */
.mod-member .swiper-button-prev {
  top: 0;
  left: 0;
  width: 0.6rem;
  height: 1.55rem;
  margin-top: 0;
  background: #fff;
}
/* line 43, ../_source/app/_mod-member.scss */
.mod-member .swiper-button-prev i {
  display: inline-block;
  width: 0.3rem;
  height: 0.45rem;
  background-position: 0 -0.55rem;
}
/* line 48, ../_source/app/_mod-member.scss */
.mod-member .swiper-button-next {
  top: 0;
  right: 0;
  width: 0.6rem;
  height: 1.55rem;
  margin-top: 0;
  background: #fff;
}
/* line 65, ../_source/app/_mod-member.scss */
.mod-member .swiper-button-next i {
  display: inline-block;
  width: 0.3rem;
  height: 0.45rem;
  background-position: 0 -1.03rem;
}

/* line 74, ../_source/app/_mod-member.scss */
.member-list li {
  text-align: center;
}
/* line 77, ../_source/app/_mod-member.scss */
.member-list a {
  padding: 0.1rem 0;
}
/* line 83, ../_source/app/_mod-member.scss */
.member-list img {
  width: 0.95rem;
  height: 0.95rem;
}
/* line 91, ../_source/app/_mod-member.scss */
.member-list .txt {
  display: block;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #999;
  text-align: center;
}

/* line 1, ../_source/app/_mod-recommend.scss */
.mod-recommend {
  margin-bottom: 0.3rem;
  background-color: #fff;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
/* line 10, ../_source/app/_mod-recommend.scss */
.mod-recommend .hd {
  padding: 0 0.23rem;
  line-height: 0.59rem;
  color: #8a8a8a;
}
/* line 20, ../_source/app/_mod-recommend.scss */
.mod-recommend .bd {
  padding: 0 0.23rem;
}
/* line 24, ../_source/app/_mod-recommend.scss */
.mod-recommend .a-more {
  display: block;
  height: 0.88rem;
  border-top: 1px solid #e6e6e6;
  color: #56606d;
  text-align: center;
  font-size: 0.28rem;
  line-height: 0.88rem;
}

/* line 43, ../_source/app/_mod-recommend.scss */
.recommend-list li {
  border-top: 1px solid #e6e6e6;
}
/* line 48, ../_source/app/_mod-recommend.scss */
.recommend-list li:first-child {
  border-top: 0 none;
}
/* line 52, ../_source/app/_mod-recommend.scss */
.recommend-list a {
  display: block;
  padding: 0.1rem 0;
}
/* line 60, ../_source/app/_mod-recommend.scss */
.recommend-list .img-box {
  float: left;
  margin-right: 0.22rem;
  width: 2.19rem;
  height: 1.92rem;
}
/* line 72, ../_source/app/_mod-recommend.scss */
.recommend-list .img-box img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
}
/* line 79, ../_source/app/_mod-recommend.scss */
.recommend-list .info {
  overflow: hidden;
  zoom: 1;
  margin-top: 0.3rem;
  color: #2f2f2f;
  text-align: left;
}
/* line 89, ../_source/app/_mod-recommend.scss */
.recommend-list .info dd {
  overflow: hidden;
}
/* line 92, ../_source/app/_mod-recommend.scss */
.recommend-list .info .tit {
  overflow: hidden;
  height: 0.4rem;
  font-size: 0.28rem;
  line-height: 0.4rem;
}
/* line 103, ../_source/app/_mod-recommend.scss */
.recommend-list .info .desc {
  margin: 0.15rem 0;
  height: 0.36rem;
  line-height: 0.36rem;
}
/* line 111, ../_source/app/_mod-recommend.scss */
.recommend-list .info .desc em {
  color: #ff6d00;
  font-size: 0.36rem;
}
/* line 121, ../_source/app/_mod-recommend.scss */
.recommend-list .info .price {
  height: 0.3rem;
  line-height: 0.3rem;
  color: #999;
}

/* line 1, ../_source/app/_mod-login.scss */
.mod-login {
  background-color: #fff;
}
/* line 6, ../_source/app/_mod-login.scss */
.mod-login li {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.28rem;
  text-align: center;
}
/* line 17, ../_source/app/_mod-login.scss */
.mod-login a {
  color: #56606d;
}
/* line 23, ../_source/app/_mod-login.scss */
.mod-login .a-name {
  color: #2fabf1;
}

/* line 1, ../_source/app/_mod-footer.scss */
.mod-footer {
  padding-top: 0.38rem;
  height: 1.92rem;
  border-top: 1px solid #e6e6e6;
  text-align: center;
}
/* line 14, ../_source/app/_mod-footer.scss */
.mod-footer li {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
}
/* line 17, ../_source/app/_mod-footer.scss */
.mod-footer a {
  display: block;
  margin: 0 auto;
  width: 0.94rem;
  color: #56606d;
}
/* line 27, ../_source/app/_mod-footer.scss */
.mod-footer .i-box {
  width: 0.94rem;
  height: 0.94rem;
  border: solid #a4a9b0;
  border-width: 0.03rem;
  border-width: 0.03rem;
  border-radius: 100%;
}
/* line 43, ../_source/app/_mod-footer.scss */
.mod-footer .i-box i {
  display: inline-block;
}
/* line 47, ../_source/app/_mod-footer.scss */
.mod-footer .txt {
  display: block;
  height: 0.68rem;
  line-height: 0.68rem;
}

/* line 56, ../_source/app/_mod-footer.scss */
.ver-client {
  width: 0.64rem;
  height: 0.64rem;
  background-position: 0 -11.56rem;
}

/* line 59, ../_source/app/_mod-footer.scss */
.ver-touch {
  width: 0.63rem;
  height: 0.64rem;
  background-position: 0 -12.91rem;
}

/* line 62, ../_source/app/_mod-footer.scss */
.ver-computer {
  width: 0.61rem;
  height: 0.61rem;
  background-position: 0 -12.25rem;
}

/* line 1, ../_source/app/_pop-download.scss */
.pop-download {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 4;
  width: 100%;
  overflow: hidden;
  height: 1.26rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  text-align: right;
}
/* line 18, ../_source/app/_pop-download.scss */
.pop-download .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1rem;
  width: 0.34rem;
  height: 0.34rem;
}
/* line 39, ../_source/app/_pop-download.scss */
.pop-download .btn-close i {
  display: inline-block;
  width: 0.37rem;
  height: 0.34rem;
  background-position: 0 -0.18rem;
}
/* line 44, ../_source/app/_pop-download.scss */
.pop-download .btn-app {
  position: absolute;
  top: 0.38rem;
  right: 0.38rem;
  width: 2.2rem;
  height: 0.68rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2eaaf1), to(#2ca7ef));
  background-image: -webkit-linear-gradient(top, #2eaaf1, #2ca7ef);
  background-image: -moz-linear-gradient(top, #2eaaf1, #2ca7ef);
  background-image: -o-linear-gradient(top, #2eaaf1, #2ca7ef);
  background-image: linear-gradient(top, #2eaaf1, #2ca7ef);
  border-radius: 0.08rem;
  font-size: 0.28rem;
  text-align: center;
  color: #fff;
  line-height: 0.68rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media only screen {
  /* line 76, ../_source/index.scss */
  html {
    font-size: 46px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
  /* line 76, ../_source/index.scss */
  html {
    font-size: 50px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 399px) {
  /* line 76, ../_source/index.scss */
  html {
    font-size: 56px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 479px) {
  /* line 76, ../_source/index.scss */
  html {
    font-size: 62px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
  /* line 76, ../_source/index.scss */
  html {
    font-size: 75px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 749px) {
  /* line 76, ../_source/index.scss */
  html {
    font-size: 100px;
  }
}
@media only screen and (min-width: 750px) {
  /* line 76, ../_source/index.scss */
  html {
    font-size: 117px;
  }
}
