/* extend */

//$common:sprite-map("common/*.png",$spacing:5px,$layout: diagonal);
$skin:sprite-map("_skin/*.png",$spacing:5px);
%commonMaps{
	$width:sprite-width($skin);
	$height:sprite-height($skin);
	background-image:$skin;
	background-repeat:no-repeat;
	background-size:rem-calc($width $height);
	@if $vw {
		background-size:vw-calc($width $height);
	}
}